@{
    ViewData["Title"] = "Sport Events page - master detail";
}

<div>stranica za termine na kojoj možemo navigirati po svim terminima u bazi, prikazati detalje pojedinog termina i sva postignuća
    igrača na tom terminu - master detail</div>

